.gitHubButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .gitHubButtonContainer {
    display: none;
  }
}

.gitHubButton {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}